html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  z-index: 10;
}

nav {
  width: 100%;
}

nav .navbar {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}